.dropdown-main {
    left: 1%;
    background-color: #fff;
    border: solid 1px #bbb;
    border-top-color: #bbb;
    border-top-style: solid;
    border-top-width: 1px;
    border-top: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2);
    border-radius: 0 0 4px 4px;
    width: 98%;
    position: absolute;
}

.dropdown-sidemenu-column {
    box-sizing: border-box;
    width: 15%;
    padding-left: 2%;
    position: relative;
    height: calc(70vh - 4rem);
    float: left;
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.dropdown-sidemenu-section {
    box-sizing: border-box;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 0%;
    display: inline;
}

.sidemenu-h1 {
    margin: 0 0 7px;
    padding: 0 0 7px;
    font-size: 18px;
    font-weight: normal;
    height: 21px;
    line-height: 21px;
    display: flex
}

.sidemenu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidemenu-li {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 15px;
    list-style-type: none;
}

.dropdown-search-component {
    overflow: hidden;
    padding: 26px 1.5% 0 1.5%;
}

.dropdown-input-component {
    float: left;
    width: 75%;
    padding: 10px;
}

.form-search {
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    padding: 7px 10px;
    transition: all .25s ease;
    outline: 0;
    border: 1px solid #ccc;
    height: 17px;
    box-sizing: content-box;
}

.dropdown-sort-component {
    display: table;
    float: right;
    width: 120px;
    padding: 10px;
}

.group-search-filter {
    display: table-cell;
    width: 60px;
    height: 31px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    text-align: center;
    vertical-align: middle;
    transition: background-color .25s ease;
    border-radius: 5px 0 0 5px;
    border-right: 0;
    color: #444 !important;
}

.alphabet-search-filter {
    display: table-cell;
    width: 60px;
    height: 31px;
    font-size: 14px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
    transition: background-color .25s ease;
    border-radius: 0 5px 5px 0;
    color: #444 !important;
}

.dropdown-menu-container {
    overflow: auto;
    padding: 25px 30px 30px 30px;
    display: block;
}

.menu-list-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 25%;
}

.list-header {
    margin-bottom: 4px;
    padding-left: 38px;
    padding-bottom: 3px;
    border: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
    text-transform: capitalize;
    white-space: normal;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    list-style-type: none;
}

.list-link {
    line-height: 1.2;
    padding-left: 38px;
    display: block;
    margin: 0;
    list-style-type: none;
    white-space: nowrap;
}

.list-label {
    margin: 0;
    padding: 0;
    font-size: 14px;
    white-space: normal;
    display: inline-block;
    color: #444 !important;
    line-height: 1.2;
    font-weight: normal;
    list-style-type: none;
}

.label-link {
    color: #444 !important;
}

.home-banner {
    margin-left: 8.3333333333%;
    padding-top: 2%;
    padding-bottom: 3%;
}

.sidemenu-section-column {
    /*    box-sizing: border-box; */
    width: 17%;
    padding-bottom: 0;
    position: fixed;
    height: 100%;
    float: left;
}

.employee-search-component {
    overflow: hidden;
    padding: inherit;
    border: none;
}

.employee-button-component {
    float: left;
    width: 80%;
}

.component-fixer {
    margin-right: 7%;
}

.employee-search-input {
    overflow: auto;
    padding: 2%;
    padding-bottom: 0;
    display: block;
}

.table-centre {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
}

.emp-tab-set {
    overflow: hidden;
    border: none;
    margin-right: 2%;
    margin-left: 0.5%
}

.profile-image {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
}

.custom-sticky {
    position: fixed;
    top: 7.5%;
    z-index: 1;
    width: 90%;
}

.relative-fx {
    padding-top: 20%;
    border: none;
}

.emp-head {
    overflow: hidden;
    border: none;
    z-index: 1000 !important;
}

.toppings-2 {
    padding-top: 3%;
    border: none;
}

.margin-fx {
    margin-left: 20%;
}

.bd-sidebar {
    border-right: 1px solid rgba(0, 0, 0, .1);
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
    flex: 0 1 320px;
    overflow: scroll
}

.custom-img-head {
    /* background: url('https://thumbs.dreamstime.com/b/vector-illustration-concept-business-meeting-teamwork-training-improving-professional-skill-creative-flat-design-web-banner-124318693.jpg'); */
    background: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(251, 251, 251)), url('../res/53399-O7GER9.jpg');
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    /*  -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    content: "";
    z-index: 1; */
}

.front-fx {
    z-index: 2;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    padding-top: 2%;
}

.lined {
    border-bottom: 1px solid #666666;
    border-top: 1px solid #666666;
}

.bd-navbar {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.fw-sticky {
    position: fixed;
    width: 100%;
    align-content: center;
}

.tab-set {
    width: 20%;
    text-align: center !important;
}

.sticky-tab {
    position: fixed !important;
    width: 100%;
    z-index: 1019;
    box-sizing: border-box;
    border: none;
}

.open-space {
    padding: 1%;
    widows: 100%;
}

.custom-label {
    z-index: 3;
    top: 0px;
    left: 0px;
    display: none;
}

.inline-function-menu {
    width: 60%;
    margin-left: 8.3333333333%;
    position: relative;
}

.inline-2 {
    width: 20%;
    margin-left: 2%;
}

.dropdown-wide {
    width: 80rem !important;
}

.bd-side-only {
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.icon-size-1 {
    font-size: 8px;
}

.icon-size-2 {
    font-size: 16px;
}

.icon-size-3 {
    font-size: 32px;
}

.icon-size-4 {
    font-size: 64px;
}

.profile-icon {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 1px solid #666666;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.custom-dropdown {
    min-width: 50rem !important;
    top: 2.5rem !important;
}

.custom-wide {
    width: 75rem;
    border-radius: 1rem;
}

.overflow-scroll {
    overflow: scroll !important;
    z-index: -1 !important;
}